.confetti2{
    background-image: url(../../assets/img/confetti.gif);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 100vh;
}

.main{
    height: 90vh;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff56 ;
}