ul {
  padding-left: 0%;
  text-align: left;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  margin-top: 40%;
}

.reglas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
