.slick-dots{
    display: none !important;
}

button.slick-arrow{
    padding-top: none !important;
}
.slick-arrow{
    background-color: red !important;
}

#fotosParrafo{
    text-align: -webkit-center;
}

#claves{
    display: flex;
    font-size: 0.75em;
    justify-content: space-between;
}

#imagenes{
    display: flex;
    justify-content: space-between;
}

#imagenes img {
    width: 25%;
}